<ion-app>

  <app-header [titulo]="'Pag principal'"></app-header>


  <ion-content>

    <h1 class="titulos">Bienvenido {{nombreUsuario}}</h1>
    <ion-item>
      <ion-input type="text" label="Nombre" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese un nombre"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="mostrarAlerta()">
      Enviar
    </ion-button>

    <ion-button routerLink="/pagina1">
      Sig. pag
    </ion-button>
    <ion-button [routerLink]="['/animaciones']" expand="block" fill="clear" shape="round">
      Animaciones
    </ion-button>


  </ion-content>

</ion-app>